<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>seguePractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42BE94871FD15FE5006C3689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42BE949B1FD15FE6006C3689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42BE94A61FD15FE6006C3689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
